
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary--color: hwb(202 1% 71% / 0.9);
  --second--color: rgba(108, 141, 161, 0.623);
  --third--color: rgba(0, 195, 255, 0.87);
  --text--color: rgb(236, 236, 236);

  --primary-font: "Orbitron", sans-serif;
  --second--font: 'Georgia', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
  }

body{
    background-image: url('img/background.jpg');
    background-size: cover; /* Hace que la imagen cubra todo el body */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen de fondo permanece fija en la pantalla */
    font-family: var(--second-font);
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--second--color);
    justify-content: space-between;
    align-items: center;
}
.orbitron-container {
    font-family: var(--primary-font);
    font-optical-sizing: auto;
    font-size: 2.25rem;;
    font-style: normal;
    color: var(--text--color);
    max-width: fit-content;
    padding-bottom:  0.625rem ;
  }
  .container-body{
    display: flex;
    flex-direction: row;
    margin: 0.625rem;
    padding: 0.625rem;
  }
  .container-left {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--primary--color); /* Fondo oscuro para el contenedor */
    border: 0.063rem solid var(--text--color); /* Borde ligero */
    box-shadow: 0 0 0.625rem var(--third--color); /* Sombra para dar profundidad */
    border-radius: 0.625rem; /* Bordes redondeados */
    margin: 3.125rem 1.25rem 0.313rem 3.125rem ;
    box-sizing: border-box;
    padding: 1.25rem;
   } 
   .container-button{

    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 1.25rem;
      
      
  }

   
   .funtionbutton{
    display: flex;
    width: 18.75rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.563rem;
    font-weight: 300;
    padding: 1.25rem 1.25rem;
    text-decoration: none;    
    font-family: var(--primary-font);
    border: 0.125rem solid var(--third--color);
    margin: 0.625rem;
    color: var(--text--color);
    background-color: transparent;
    
        
}
   .container-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    background-color: var(--primary--color); /* Fondo blanco para el contenedor */
    border: 0.063rem solid var(--text--color); /* Borde ligero */
    box-shadow: 0 0 0.625rem var(--third--color); /* Sombra para dar profundidad */
    border-radius: 0.625rem; /* Bordes redondeados */
    margin: 3.125rem 12.5rem 0.313rem 1.25rem;  /* To right botton and left */
    box-sizing: border-box;
    padding: 3.125rem;

    }

   input{
    background-color: transparent;
    font-family: var(--second-font);
    font-size: 1.25rem;
    width: 100%;
    height: 60%;
    border: 0.063rem solid #dddddd00; /* Borde ligero */
    border-radius: 0.625rem; /* Bordes redondeados */
    padding: 1rem;
    color: var(--text--color);
  }

    
 

    .funtionbutton:hover{
        background: var(--primary--color);
    }


    img {
        mask-image: linear-gradient(
          black 80%,
          transparent
        );
        float: center;
        border-radius: 5%;
        width: 100%;
        display: flex;
        flex-direction: center; /* Hace que la imagen y los botones se apilen verticalmente */
        align-items: center; /* Centra la imagen y los botones horizontalmente */
        margin: 0.625rem;
      }

    
      